* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.navbar-brand {
    font-size: 14px;
    margin-right: 0%;
}

.user-wrapper {
    align-items: flex-end;
}

.menu-bar {
    justify-content: space-between;
}

.menu-bar ul li {
    list-style-type: none;
}

.menu-bar ul li a {
    color: #fff;
    font-size: 12px;
}

.menu-bar .nav-item .form-search {
    margin: 0 10px;
}

.offcanvas .nav-item {
    height: 40px;
}

.container-form .frame1 {
    padding: 10px;
}

.place {
    margin: 20px;
}

.places-img {
    display: flex;
}

.place-img {
    flex-basis: 25%;
    margin: 10px;
}

.places-img img {
    width: 100%;
    height: 80%;
}

.header-place {
    font-weight: 600;
    color: rgb(11, 4, 133)
}

.nameplace {
    font-size: 18px;
    font-weight: 600;
}

.address, .in4 {
    margin-left: 10px;
}

.offcanvas .nav-item .nav-link {
    padding: 0 10px;
    color: black;
    line-height: 30px;
    font-size: 12px;
}

.offcanvas .nav-item:hover {
    background-color: thistle;
}

.navbar-toggler {
    display: none;
}

.brand-name {}

.brand-wrapper img {
    border-radius: 20%;
    margin-right: 10px;
}

.brand-wrapper .brand-name h6:first-child {
    font-size: 14px;
    margin-bottom: 5px;
}

.brand-wrapper .brand-name h6:last-child {
    font-weight: normal;
    font-size: 12px;
}

.user-wrapper {
    padding: 0 10px;
    color: #fff;
    position: relative;
}

.user-wrapper,
.brand-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper h6 {
    margin-bottom: 0rem;
    font-size: 12px;
}

.user-wrapper small {
    font-size: 10px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.company-page {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100%;
}

.ddyt-container {}

.my-profile {
    margin: 20px 0;
    text-decoration: underline;
}

.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-item {
    flex-basis: 30%;
    border: 1px solid #111;
    padding: 5px;
    margin: 20px 15px;
}

.card-img {
    position: relative;
}

.card-img img {
    width: 100%;
    height: 200px;
}

.card-img button {
    position: absolute;
    right: 0;
    top: 0;
}

.card-info {
    font-size: 12px;
}


.page-title {
    font-weight: 600;
    color: #3155A8;
}

.icon {
    color: rgb(100, 128, 230);
}

.sp-them {
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
}

.sp-them button {
    background-color: #3D52A6;
    padding: 5px;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.sp-them button:hover {
    background-color: rgb(0, 204, 255);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.display tr img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.button-header .admin-button {
    flex-basis: 10%;
}

.container {
    text-align: center;
}

.container-form .frame {
    margin: 0 20px;
    padding: 0 10px;
}

.container-form .frame1 {
    padding: 10px;
}



.place {
    margin: 20px;
}

.places-img {
    display: flex;
}

.place-img {
    flex-basis: 25%;
    margin: 10px;
}

.places-img img {
    width: 100%;
    height: 80%;
}

.container-form .button-group {
    margin: 10px;
}

.container-form .button-group button {
    margin: 0 20px;
}

.container-form .button-group a {
    text-decoration: none;
    color: #fff;
}

.offcanvas.show {
    width: 250px;
}

@media screen and (max-width: 800px) {
    .navbar-menu {
        display: flex;
        justify-content: flex-start;
    }

    .navbar-toggler {
        display: block;
    }

    .menu-bar ul li {
        display: none;
    }

    .offcanvas.show {
        width: 250px;
    }

    .brand-wrapper .brand-name h6:first-child {
        font-size: 12px;
    }

    .brand-wrapper .brand-name h6:last-child {
        font-size: 10px;
    }

    .user-wrapper {
        /* flex: 1; */
    }

    .user-wrapper h6 {
        font-size: 10px;
    }

    .user-wrapper small {
        padding: 0;
        font-size: 8px;
    }
}

@media screen and (max-width: 550px) {
    .offcanvas.show {
        width: 250px;
    }
}

.btn_add {
    background: #3D52A6;
    width: 15%;
    border: none;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;

}

.btn_add a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.thongbao {
    color: #3f0047;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}





/* ...............................add tour.................... */
.container-form {
    box-sizing: content-box;
    margin: 30px;
    padding: 20px;
    text-align: center;
}

.content-tour {
    margin-bottom: 20px;
}

.container-form .input-groupp {
    margin: 20px 3%;
    display: flex;
    flex-direction: row;
    height: 55px;
    align-items: center;
    flex-basis: 40%;
}

.container-form .input-groupp span {
    flex-basis: 25%;
    text-align: start;
    align-items: center;
}

.container-form .input-groupp .text {
    flex-basis: 11%;
    text-align: start;
}

.container-form .p {
    margin: 10px 3%;
    height: 90px;
}

.container-form .input-groupp .t {
    flex-basis: 89%;
    min-height: 70px;
    background-color: whitesmoke;
    border: none;
}

.container-form .input-groupp input {
    flex-basis: 75%;
    margin: 10px 0;
    border: none;
    background-color: whitesmoke;
}

#start_place {
    border: none;
    background-color: whitesmoke;
    flex-basis: 75%;
    margin: 10px 0;
}

.input-groupp .start_place {
    border: none;
    background-color: whitesmoke;
    flex-basis: 75%;
    margin: 10px 0;
    height: 40px;
    padding: 0 10px;
}

.hinhanh {
    margin: 20px 3%;
    display: flex;
    flex-direction: row;
    height: 55px;
    align-items: center;
    flex-basis: 40%;
}

.hinhanh span {
    flex-basis: 25%;
    text-align: start;
}

.gr-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.content-adddiemden {
    box-sizing: content-box;
    margin: 50px 0;
    padding: 20px 10px;
    background-color: #EAEEFE;
    border-radius: 10px;
}

.adddiemden {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.adddiemden input {
    padding: 11px;
}

.hd-addplace {
    font-size: 22px;
    color: #3167A8;
    font-weight: 500;
}

.from-item {
    border: none;
    margin: 6px 0;
    background-color: rgb(244, 244, 249);
    height: 35px;
    border-radius: 5px;
}

.item-add {
    display: flex;
    flex-wrap: wrap;
}

.content-add {
    flex-basis: 30%;
    margin: 20px 1%;
    background-color: #6B89FF;
    border-radius: 5px;
}

.form-select {
    border: none;
    margin: 6px 0;
    background-color: rgb(244, 244, 249);
}

.from-textarea {
    border: none;
    margin: 6px 0;
    padding: 10px;
    height: 80px;
    background-color: rgb(244, 244, 249);
}

.btn-addplace {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btnaddgrplace {
    border: none;
    color: #E3DCF5;
    font-size: 18px;
    height: 40px;
    background-color: #342CA8;
    border-radius: 5px;
}

.btnn {
    background-color: #3155A8;
    color: white;
    font-size: 18px;
    width: 15%;
    border: none;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}

/*------------------------------ detailtour ------------------------*/
.m {
    display: flex;
    justify-content: flex-start;
    color: #02001c;
    font-weight: 600;
}
.t{
    margin-top: 50px;
}
.in4-itemm {
    flex-basis: 70%;
    display: flex;
    justify-content: flex-start;
}

.in4-item {
    font-weight: 600;
}

.in4-item-name {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 20px 20px 20px;
    margin: 0 40px 30px 40px;
    color: #3155A8;
}

.item_tour {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-basis: 50%;
}

.name-item {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
}

.gr-item-detail {
    display: flex;
}