body {
    /* background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% ); */
    font-family: Trebuchet;
    background-color: rgb(241, 241, 247);
}

.detail_order {
    box-sizing: content-box;
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
    border: 3px solid blue;
    margin: 30px 20%;
    background-color: white;
    border-radius: 20px;
}

.hd_detail {
    color: rgb(36, 45, 213);
    text-align: center;
    font-weight: 600;
}

.hd_in4_tour, .hd_in4_khachhang {
    border-radius: 5px;
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}

.hd_tour, .hd_khachhang {
    color: white;
    padding: 10px;
    font-size: 21px;
}

.in4_detail_order {

    margin: 20px;
}

.item_time {
    padding: 0 20px;
    font-size: 18px;
}

.roww {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 15px 0;
}

.in4_total_price {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,37,37,1) 0%, rgba(211,49,49,1) 82.8% );
    border-radius: 5px;
}

.total_price {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40px;
    line-height: 40px;
}

.lb_price {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.tt_price {
    color: white;
    font-size: 25px;
    font-weight: 600;

}

.label {
    flex-basis: 40%;
    position: absolute;
    left: 5%;
}

.tt {
    position: absolute;
    left: 45%;
}

.sl_hk {
    position: absolute;
    left: 10%;
    padding: 5px;
}

.adult, .child {
    margin: 20px 20px;
}

.hd_in4_adult, .hd_in4_child {
    color: rgb(220, 69, 4);
    margin: 20px 42px;
}

.in4_adult, .in4_child {
    display: flex;
    flex-direction: row;
    margin: 5px 62px;
}

.name_adult, .name_child {
    flex-basis: 50%;
}

.birth_adult, .birth_child {
    flex-basis: 30%;
}

.gender_adult, .gender_child {
    flex-basis: 20%;
}

.in4_pttt {
    position: relative;
}

.pttt {
    position: absolute;
    right: 5%;
}

.lb_pttt {
    padding: 0 5px;
}